*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: green;
  }

body > .gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

body > .gallery >img {
    height: 200px;
    width: 300px;
}

.top{
    max-width: 100px;
    max-height: 100px;
}

.top{
    display: flex;
    align-items: center;
}