* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  flex: 1;
}

html {
  height: 100%;
  margin: 0;
}

body {
  flex-direction: column;
  background-color: cyan;
  text-align: center;
  display: flex;
  height: 100%;
  margin: 0;
}

.horizontalwrapper {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex: 1;
}
.horizontalwrapper ul li {
  display: inline;
  background-color: magenta;
}

.top {
  background-color: blue;
  flex: 0.1;
  flex-direction: row;
}
.top .fleximgwrapper {
  background-color: silver;
  flex: 0.4;
}
.top .fleximgwrapper img {
  width: 50%;
  height: auto;
}

.fleximgwrapper {
  background-color: silver;
}
.fleximgwrapper img {
  width: 100%;
  height: auto;
}

.middle {
  background-color: red;
}

.gallery {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.bottom {
  background-color: purple;
  flex: 0.1;
}